<?xml version="1.0" ?>
<robot name="bb">
  <gazebo>
    <plugin filename="libgazebo_ros_planar_move.so" name="object_controller">
      <command_topic>cmd_vel</command_topic>
      <odometry_topic>odom</odometry_topic>
      <odometry_frame>odom</odometry_frame>
      <odometry_rate>20.0</odometry_rate>
      <robot_base_frame>bb_base_link</robot_base_frame>
    </plugin>
  </gazebo>
  <link name="bb_base_link">
    <inertial>
      <mass value="1.0"/>
      <!-- center of mass (com) is defined w.r.t. link local coordinate system -->
      <!-- give a little y-offset to make the top precess -->
      <origin xyz="0 0 0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual>
      <!-- visual origin is defined w.r.t. link local coordinate system -->
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.15"/>
      </geometry>
    </visual>
    <collision>
      <!-- collision origin is defined w.r.t. link local coordinate system -->
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.15"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="bb_base_link">
    <mu1>10</mu1>
    <mu2>10</mu2>
    <material>Gazebo/WoodFloor</material>
    <turn_gravity_off>false</turn_gravity_off>
  </gazebo>
  <joint name="bb_head_joint" type="fixed">
    <origin rpy="0.2 0 -1.53" xyz="0 0 0.12"/>
    <parent link="bb_base_link"/>
    <child link="bb_head"/>
  </joint>
  <link name="bb_head">
    <inertial>
      <mass value="0.0"/>
      <!-- center of mass (com) is defined w.r.t. link local coordinate system -->
      <!-- give a little y-offset to make the top precess -->
      <origin xyz="0 0 0.2"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual>
      <!-- visual origin is defined w.r.t. link local coordinate system -->
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
    </visual>
  </link>
  <gazebo reference="bb_head">
    <mu1>10</mu1>
    <mu2>10</mu2>
    <material>Gazebo/WoodPallet </material>
  </gazebo>
</robot>
